body{
    background-color: #282323;
    display: flex;
    justify-content: center;
    
}


.box{
    background-color: #d58787;
    width: 300px;
    padding: 20px;
    margin: 30px;
    border:30px solid rgb(202, 75, 75);
    text-align: center;
}